.summary-container{
    width: 100%;
    color: #05c718;
    height: 280;
}

.summary-container .day {
    width: 20%;
    height: 100%;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.summary-container .totals{
    width: 100%;
    background: #323232;
    display: flex;
    height: 150px;
    align-items: center;

}
.summary-container .totals .revenue{
    padding-top: 20px;
    padding-left: 20px;
    width: 50%;
}
.summary-container .totals .tickets{
    padding-top: 20px;
    
}

.summary-container .totals .value{
    display: flex;
    align-items: center;
    
}
.summary-container .totals .value h1{
    font-size: 42px;
    color: #FFF;
    font-weight: 700;
}

.summary-container .totals .value-yesterday{
    
    color: #FFF;
    font-weight: 400;
}

@media(max-width:1000px){
    .summary-container .totals .value{
        font-size: 32px;
    }
}