.summary-container{
    width: 100%;
    color: #05c718;
}

.summary-container .day {
    width: 20%;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.summary-container .totals{
    width: 100%;
    background: #323232;
    display: flex;

}
.summary-container .totals .revenue{
    padding-top: 20px;
    padding-left: 20px;
    width: 50%;
}
.summary-container .totals .tickets{
    padding-top: 20px;
    
}

.summary-container .totals .value{
    color: #FFF;
}

